@import 'variables';

.character__detail {
  min-height: 80vh;
  @include flex-layout;

  &__loading {
    text-align: center;
    padding: $spacing-10;
    font-size: 2rem;
    color: $color-gray-700;
  }

  &__error {
    text-align: center;
    padding: $spacing-10;
    font-size: 2rem;
    color: $color-gray-700;
  }

  .character__container {
    @include flex-layout(row, start, space-between);
    background: $color-dark-blue;
    border-radius: $border-radius-lg;
    box-shadow: $shadow-lg;
    padding: $spacing-6;
    width: 60vw;
    margin: $spacing-6 auto;

    .character__info__name {
      color: $color-white;
    }

    .character__info__label {
      color: $color-white;
    }

    .character__info__value {
      color: $color-white;
    }

    .character__image {
      img {
        border-color: $color-white;
      }
    }
  }

  .character__header {
    @include flex-layout;
    padding: 0 $spacing-10;
  }

  .character__info {
    @include flex-layout(column, start, start);
    padding: $spacing-10;
    width: 100%;

    &__name {
      font-size: 2.2rem;
      font-weight: $font-weight-extrabold;
      margin-bottom: $spacing-4;
      text-align: left;
    }

    &__info-row {
      margin-top: $spacing-2;
      width: 100%;

      .character__info__label,
      .character__info__value {
        font-size: 1.1rem;
        width: 100%;
        text-align: left;
      }
      .character__info__label {
        font-weight: $font-weight-semibold;
        margin-bottom: 0.1rem;
        margin-right: $spacing-3;
      }
      .character__info__value {
        font-weight: $font-weight-medium;
        word-break: break-word;
      }
      a {
        color: $color-white;
        margin-left: $spacing-1;
        font-size: 1rem;
      }
    }
  }

  @include mobile {
    .character__info {
      padding: $spacing-6;
    }
  }

  .character__image {
    @include flex-layout;
    margin-bottom: $spacing-3;

    img {
      object-fit: cover;
      border-radius: 50%;
      box-shadow: $shadow-lg;
      border: 4px solid $color-gray-100;
    }
  }
}

.character__detail.dark {
  .character__container {
    background-color: $color-very-light-gray;

    .character__info__name {
      color: $color-gray-800;
    }

    .character__info__label {
      color: $color-gray-500;
    }

    .character__info__value {
      color: $color-gray-500;
    }

    .character__image {
      img {
        border-color: $color-gray-600;
      }
    }
  }

  .character__info__label {
    color: $color-gray-800;
  }

  .character__info__value {
    color: $color-gray-500;
  }
}
