@import 'colors';
@import 'spacing';
@import 'typography';
@import 'layout';

@mixin app-button($bg: $color-dark-blue, $hover-bg: $color-very-dark-blue) {
  padding: $spacing-2 $spacing-5;
  font-size: $text-base;
  background: $bg;
  color: $color-white;
  border: none;
  border-radius: $border-radius-lg;
  cursor: pointer;
  font-weight: $font-weight-bold;
  transition: background $transition-all;

  &:hover {
    background: $hover-bg;
  }
}
